<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zpet.ms_invoice.mapper.InvoiceMapper">

    <select id="getInvoices" parameterType="map" resultType="com.zpet.ms_invoice.model.Invoice">
        SELECT 
            INV_ID as id
            , SF_ID as shippingId
            , P_ID as petId
            , STF_ID as staffId
            , CTM_ID as customerId
            , ADR_ID as adressId
            , VOU_ID as voucherId
            , INV_TOTAL as total
            , INV_CREATEDAT as createTime
        FROM invoice
        WHERE CTM_ID = #{customerId}
    </select>

</mapper>