<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ZPet Admin</title>
    <link rel="shortcut icon" href="/images/icons/favicon.ico" type="image/x-icon">
    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Stacking Select -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/css/multi-select-tag.css"
    />
    <!-- Flowbite DateTime picker -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <!-- JQuery -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="overflow-hidden">

    <!-- Sidebar -->
    
    <div class="ms-[18.5%] h-screen flex space-x-4">
      <div class="flex flex-col w-1/2 bg-white shadow-lg rounded-lg p-4 my-4">
        <div class="flex items-center w-full space-x-4">
          <p class="font-bold text-2xl text-black">Hóa đơn</p>
          <a
            href="/admin/invoice-create"
            id="btn-add-invoice"
            class="border-[1px] border-green-500 rounded-sm py-0 px-2 text-green-500"
          >
            Add +
          </a>
        </div>
        <div class="flex w-full mt-3 space-x-2">
          <input
            type="text"
            placeholder="Tìm kiếm..."
            id="input-search-invoice"
            class="flex-grow w-full px-4 py-2 rounded-sm bg-slate-100 text-gray-800"
          />
          <button
            id="btn-search-invoice"
            class="flex-shrink w-16 border-[1px] bg-green-500 rounded-sm py-0 px-2 text-white font-semibold"
          >
            Tìm
          </button>
        </div>
        <div class="overflow-y-auto flex">
          <div class="flex flex-col w-full" id="invoices-list">
            <!-- JQUERY -->
          </div>
        </div>
      </div>

      <div class="flex w-1/2 bg-white shadow-lg rounded-lg p-4 my-4">
        <div
          id="default-invoice-detail"
          class="w-full h-full flex justify-center items-center"
        >
          <p class="text-gray-400">Chọn một hóa đơn bên cạnh để xem chi tiết</p>
        </div>
        <div id="showing-invoice-detail" class="w-full h-full hidden">
          <button id="btn-print" class="flex items-center justify-center space-x-3 p-2 rounded-md bg-green-500 text-white float-end">
            <img src="images/ic_print.svg" class="w-6 h-6" alt="">
            In
          </button>
          <div id="printarea" class="flex flex-col space-y-6">
            <div class="flex items-center justify-between w-full">
             <img src="/images/brand/logo.png" class="w-20" alt="">
              <div class="flex flex-col w-full items-center justify-center">
                <p class="text-3xl uppercase font-bold text-green-500">
                  hóa đơn
                </p>
                <p id="invoice-detail_date" class="font-bold text-md">
                  2024-12-11
                </p>
              </div>
            </div>
            <div class="flex w-full">
              <div class="flex flex-col w-full space-y-3">
                <div class="flex items-start w-full">
                  <p class="font-semibold text-gray-600">Mã hóa đơn:</p>
                  <p
                    id="invoice-detail_invoice-id"
                    class="font-semibold text-black"
                  >
                    #123456
                  </p>
                </div>
                <div class="flex items-start w-full">
                  <p class="font-semibold text-gray-600">Mã nhân viên:</p>
                  <p
                    id="invoice-detail_staff-id"
                    class="font-semibold text-black"
                  >
                    #23
                  </p>
                </div>
                <div class="flex items-start w-full">
                  <p class="font-semibold text-gray-600">Khách hàng:</p>
                  <p
                    id="invoice-detail_customer-name"
                    class="font-semibold text-black"
                  >
                    Nguyen Tran Anh Thu
                  </p>
                </div>
                <table class="table-auto mt-3">
                  <thead class="bg-green-500 text-white font-semibold">
                    <th class="p-3 text-left">Dịch vụ</th>
                    <th class="p-3 text-right">Giá</th>
                  </thead>
                  <tbody id="invoice-detail_table">
                    <tr class="border-b-2 border-gray-700">
                      <td class="p-3 font-semibold text-lg">Combo tron goi</td>
                      <td class="p-3 text-right">$234.000</td>
                    </tr>
                  </tbody>
                </table>
                <div class="flex w-full justify-between mt-3">
                  <div class="w-1/3 mt-2">
                    <p class="uppercase text-sm text-green-500 font-semibold">
                      Điểm tích lũy:
                    </p>
                    <p id="invoice-detail_point-granted" class="text-xs text-gray-800">
                        1000
                    </p>
                  </div>
                  <div class="w-1/2 flex flex-col space-y-3">
                    <div class="flex justify-between w-full">
                      <p class="uppercase">Tổng tiền dịch vụ</p>
                      <p id="invoice-detail_total" class="font-bold">100.000 đ</p>
                    </div>
                    <div class="flex justify-between w-full">
                      <p class="uppercase">Phí ship</p>
                      <p class="font-bold">0 đ</p>
                    </div>
                    <div class="flex justify-between w-full">
                      <p class="uppercase">Dùng điểm</p>
                      <p id="invoice-detail_point" class="font-bold">0 đ</p>
                    </div>
                    <div
                      class="flex justify-between w-full p-3 text-white bg-green-500 font-bold text-lg"
                    >
                      <p class="uppercase">Tổng tiền</p>
                      <p id="invoice-detail_allTotal" class="">100.000 đ</p>
                    </div>
                  </div>
                </div>
                <div class="flex justify-between w-full mt-5">
                  <p class="font-bold text-lg text-green-500">
                    Cảm ơn bạn đã sử dụng dịch vụ của ZPet
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script type="module" src="/js/admin/Invoice/index.js"></script>

</html>
