<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ZPet Admin</title>
    <link
      rel="shortcut icon"
      href="/images/icons/favicon.ico"
      type="image/x-icon"
    />
    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Flowbite DateTime picker -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <!-- JQuery -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Sidebar -->

    <div class="ms-[18.5%] bg-white shadow-lg rounded-lg p-4 m-4">
      <div class="w-full flex justify-between">
        <div class="flex items-center w-full space-x-4">
          <p class="font-bold text-2xl text-black">Nhân viên</p>
          <button
            id="btn-add-staff"
            class="border-[1px] border-green-500 rounded-md py-0 px-2 text-green-500"
          >
            Add +
          </button>
        </div>
        <div class="justify-end w-full">
          <input
            type="text"
            id="search"
            placeholder="Tìm nhân viên"
            class="border-none py-2 px-4 rounded-full bg-gray-100 w-full"
          />
        </div>
      </div>
      <div class="w-full mt-4">
        <table class="table-auto w-full space-y-2">
          <!-- Render using JQuery -->
          <thead class="text-green-500">
            <th>ID</th>
            <th class="text-center">Role</th>
            <th class="text-left">Name</th>
            <th class="text-left">Phone</th>
            <th class="text-left">Email</th>
            <th class="text-center">Joined date</th>
            <th class="text-center">Status</th>
            <th class="text-center"></th>
          </thead>
          <tbody class="mt-3" id="staffs-table">
            <!--  JQUERY  -->
          </tbody>
        </table>
      </div>
    </div>

    <!-- MODAL staff DETAIL -->
    <div
      id="staff-detail"
      class="z-50 fixed top-0 left-0 modal w-full h-full hidden"
    >
      <div class="w-full h-full relative">
        <div class="modal-overlay w-full h-full bg-black/45"></div>
        <div
          class="absolute top-[calc(50%-300px)] left-[calc(50%-400px)] w-full h-full md:w-[800px] md:h-fit bg-white rounded-lg p-8"
        >
          <h1 class="text-center font-bold text-3xl relative">
            Sửa thông tin nhân viên
            <img
              src="/images/icons/close.svg"
              class="modal-close absolute top-0 right-0 h-8 w-8 hover:scale-105 rounded-full p-1 hover:bg-gray-200"
              alt=""
              id="modal-close"
            />
          </h1>
          <div class="mt-3 flex flex-col">
            <label for="et-staff_id" class="text-sm text-gray-700 mt-2">
              Mã nhân viên
            </label>
            <input
              class="border-[1px] border-gray-100 text-gray-600 outline-none p-2 rounded-md"
              type="text"
              id="et-staff_id"
              disabled
            />
            <label for="et-staff_name" class="text-sm text-gray-700 mt-2">
              Tên nhân viên
            </label>
            <input
              class="border-[1px] border-green-100 outline-none p-2 rounded-md"
              type="text"
              id="et-staff_name"
            />
            <label for="et-staff_phone" class="text-sm text-gray-700 mt-2">
              Số điện thoại
            </label>
            <input
              class="border-[1px] border-green-100 outline-none p-2 rounded-md"
              type="phone"
              id="et-staff_phone"
            />
            <label for="et-staff_email" class="text-sm text-gray-700 mt-2">
              Email
            </label>
            <input
              class="border-[1px] border-green-100 outline-none p-2 rounded-md"
              type="email"
              id="et-staff_email"
            />
            <label for="et-staff_role" class="text-sm text-gray-700 mt-2">
              Vai trò
            </label>
            <select
              class="bg-white border-[1px] border-green-100 outline-none p-2 rounded-md"
              name="et-staff_role"
              id="et-staff_role"
            >
              <option value="0">Nhân viên</option>
              <option value="1">Quản lý</option>
            </select>
            <label for="et-staff_state" class="text-sm text-gray-700 mt-2">
              Trạng thái
            </label>
            <select
              class="bg-white border-[1px] border-green-100 outline-none p-2 rounded-md"
              name="et-staff_state"
              id="et-staff_state"
            >
              <option value="0">Nghỉ việc</option>
              <option value="1">Đang làm việc</option>
            </select>
            <button
              id="btn-staff_update"
              class="bg-green-400 hover:opacity-75 text-white rounded-md w-full p-3 mt-3"
            >
              Cập nhật
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- MODAL staff ADD -->
    <div
      id="staff-add"
      class="z-50 fixed top-0 left-0 modal w-full h-full hidden"
    >
      <div class="w-full h-full relative">
        <div class="modal-overlay w-full h-full bg-black/45"></div>
        <div
          class="absolute top-[calc(50%-400px)] left-[calc(50%-400px)] w-full h-full md:w-[800px] md:h-fit bg-white rounded-lg p-8"
        >
          <h1 class="text-center font-bold text-3xl relative">
            Thêm nhân viên
            <img
              src="/images/icons/close.svg"
              class="modal-close absolute top-0 right-0 h-8 w-8 hover:scale-105 rounded-full p-1 hover:bg-gray-200"
              alt=""
              id="modal-close"
            />
          </h1>
          <div class="mt-3 flex flex-col">
            <input
              class="border-[1px] border-gray-100 text-gray-600 outline-none p-2 rounded-md"
              type="text"
              id="et-staff-add_id"
              disabled
            />
            <label for="et-staff-add_name" class="text-sm text-gray-700 mt-2">
              Tên nhân viên
            </label>
            <input
              class="border-[1px] border-green-100 outline-none p-2 rounded-md"
              type="text"
              id="et-staff-add_name"
            />
            <label for="et-staff-add_phone" class="text-sm text-gray-700 mt-2">
              Số điện thoại
            </label>
            <input
              class="border-[1px] border-green-100 outline-none p-2 rounded-md"
              type="phone"
              id="et-staff-add_phone"
            />
            <label for="et-staff-add_email" class="text-sm text-gray-700 mt-2">
              Email
            </label>
            <input
              class="border-[1px] border-green-100 outline-none p-2 rounded-md"
              type="email"
              id="et-staff-add_email"
            />
            <label for="et-staff-add_role" class="text-sm text-gray-700 mt-2">
              Vai trò
            </label>
            <select
              class="bg-white border-[1px] border-green-100 outline-none p-2 rounded-md"
              name="et-staff-add_role"
              id="et-staff-add_role"
            >
              <option selected value="0">Nhân viên</option>
              <option value="1">Quản lý</option>
            </select>
            <label for="et-staff-add_state" class="text-sm text-gray-700 mt-2">
              Trạng thái
            </label>
            <select
              class="bg-white border-[1px] border-green-100 outline-none p-2 rounded-md"
              name="et-staff-add_state"
              id="et-staff-add_state"
            >
              <option value="0">Nghỉ việc</option>
              <option selected value="1">Đang làm việc</option>
            </select>
            <label
              for="et-staff-add_password"
              class="text-sm text-gray-700 mt-2"
            >
              Mật khẩu
            </label>
            <input
              class="border-[1px] border-green-100 outline-none p-2 rounded-md"
              type="password"
              id="et-staff-add_password"
            />
            <label
              for="et-staff-add_repassword"
              class="text-sm text-gray-700 mt-2"
            >
              Nhập lại mật khẩu
            </label>
            <input
              class="border-[1px] border-green-100 outline-none p-2 rounded-md"
              type="password"
              id="et-staff-add_repassword"
            />
            <button
              id="btn-staff_add"
              class="bg-green-400 hover:opacity-75 text-white rounded-md w-full p-3 mt-3"
            >
              Gửi
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script type="module" src="/js/admin/Staff/index.js"></script>
</html>
