<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="flex flex-col">
        <div
          id="timeline-1"
          class="flex items-center p-2 space-x-3 h-14 relative"
        >
          <div class="w-[2px] h-14 bg-gray-300 absolute left-[30px]"></div>
          <img
            src="../../static/images/icons/favicon.ico"
            class="w-6 h-6 z-20"
            alt=""
          />
          <p class="font-bold text-green-500 text-sm">10/05/2024</p>
          <p class="text-gray-400">-</p>
          <p class="font-bold text-green-500 text-sm">Tốt</p>
          <p class="text-gray-400">-</p>
          <p class="text-gray-700 text-xs">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

    </div>
  </body>
</html>
