<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ZPet</title>
    <!--    favicon-->
    <link rel="icon" type="image/x-icon" href="/images/icons/favicon.png">
    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Flowbite DateTime picker -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <!-- JQuery -->
    <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"
    ></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        'bright-yellow': '#FBB030',
                        'bright-green': '#00944e',
                        'bright-red': '#cb472e',
                        'bright-blue': '#60a1c3',
                        'grey-white': '#f9f9f9',
                        'soft-peach': '#eddbcc',
                        'soft-blue': '#F0F8FF',

                    }
                }
            }
        }
    </script>
    <style type="text/tailwindcss">
        #nav-btn-group-container {
            @apply hidden justify-center items-center sm:hidden md:hidden lg:flex xl:flex 2xl:flex;
        }
        #nav-btn-group-mobile {
            @apply gap-6 justify-center items-center;
        }
        #nav-btn-group-large {
            @apply flex flex-row gap-6 justify-center items-center;
        }
        .test {
            @apply text-red-500;
        }
        .nav-btn {
            @apply text-bright-green font-[600] hover:text-bright-yellow transition-all duration-500 delay-200 ease-out;
        }
        .nav-btn-signin {
            @apply flex w-28 h-10 rounded-full bg-bright-green justify-center items-center text-grey-white hover:bg-gradient-to-r hover:from-bright-green hover:to-bright-yellow;
        }
        #nav-hamburger-btn {
            @apply flex lg:hidden xl:hidden 2xl:hidden;
        }
        .main-btn-register {
            @apply relative text-center transition-transform hover:-rotate-6;
        }
        .title-bar{
            @apply w-full flex flex-col justify-center items-start lg:items-center xl:items-center 2xl:items-center gap-2;
        }
        .swipe-area-card-container {
            @apply relative w-screen gap-8 overflow-x-auto;
            scrollbar-width: none;
        }
        .swipe-area-doctor-card-container {
            @apply relative w-screen sm:w-screen md:w-screen lg:w-fit xl:w-fit 2xl:w-fit overflow-x-auto mt-0 sm:mt-0 md:mt-0 lg:mt-10 xl:mt-10 2xl:mt-10;
            scrollbar-width: none;
        }
        .card-container {
            @apply flex w-fit gap-5 snap-x snap-proximity px-[35vw] my-10 py-5;
        }
        .doctor-card-container {
            @apply w-max lg:w-auto xl:w-auto 2xl:w-auto gap-5 snap-x snap-proximity px-[35vw] sm:px-[35vw] md:px-[35vw] lg:px-0 xl:px-0 2xl:px-0 my-10 sm:my-10 md:my-10 lg:my-0 xl:my-0 2xl:my-0 py-5 sm:py-5 md:py-5 lg:py-0 xl:py-0 2xl:py-0 flex sm:flex md:flex lg:grid xl:grid 2xl:grid grid-cols-3;
        }
        .card {
            @apply flex flex-col w-72 justify-between items-center h-fit rounded-lg;
        }
        .btn-card-section {
            @apply flex w-fit h-10 rounded-full bg-bright-green text-grey-white hover:bg-gradient-to-r hover:from-bright-green hover:to-bright-yellow justify-center items-center text-grey-white px-5;
        }
        .doctor-card {
            @apply flex flex-col justify-center items-center;
        }
        #ticket-container {
           @apply relative text-center transition-transform hover:-rotate-6;
        }
        .social-btn {
            @apply w-8 h-8 bg-bright-yellow rounded-full flex justify-center items-center;
        }
        .responsive-column {
            @apply grid grid-flow-row-dense lg:grid-flow-row xl:grid-flow-row 2xl:grid-flow-row grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 2xl:grid-cols-2;
        }
        .hidden-on-mobile {
            @apply hidden lg:block xl:block 2xl:block;
        }
        .show-on-mobile {
            @apply flex lg:hidden xl:hidden 2xl:hidden;
        }
    </style>
</head>
<body>
<!-- Navbar -->
<nav class="flex w-screen h-fit px-2 lg:px-24 xl:px-24 2xl:px-24 py-6 fixed z-10 backdrop-blur-lg bg-soft-blue/70 overflow-hidden">
    <div class="flex flex-col sm:flex-col md:flex-col lg:flex-row xl:flex-row 2xl:flex-row justify-center sm:justify-center md:justify-center lg:justify-between xl:justify-between 2xl:justify-between item-center w-full h-fit gap-5">
        <div class="flex flex-row w-full lg:w-fit xl:w-fit 2xl:w-fit">
            <img id="nav-brand-logo" class="nav-brand-logo mx-auto" draggable="false" alt="logo">
            <button id="nav-hamburger-btn"><img src="/images/icons/hamburger-menu.svg"></button>
        </div>
        <ul id="nav-btn-group-mobile" class="hidden flex flex-col lg:hidden xl:hidden 2xl:hidden">
            <li>
                <a class="nav-btn" href="/">Thú cưng</a>
            </li>
            <li>
                <a class="nav-btn" href="/">Lịch hẹn</a>
            </li>
            <li>
                <a class="nav-btn" href="/">Hoá đơn</a>
            </li>
            <li>
                <a class="nav-btn" href="/">Voucher</a>
            </li>
            <li class="flex w-fit">
                <a class="nav-btn-signin" href="/login">Đăng nhập</a>
            </li>
        </ul>
        <div id="nav-btn-group-container" class="w-fit h-fit">
            <ul id="nav-btn-group-large">
                <li>
                    <a class="nav-btn" href="/">Thú cưng</a>
                </li>
                <li>
                    <a class="nav-btn" href="/">Lịch hẹn</a>
                </li>
                <li>
                    <a class="nav-btn" href="/">Hoá đơn</a>
                </li>
                <li>
                    <a class="nav-btn" href="/">Voucher</a>
                </li>
                <li class="flex w-fit">
                    <a class="nav-btn-signin" href="/login">Đăng nhập</a>
                </li>
            </ul>
        </div>
    </div>

</nav>
<!-- main-->
<main class="w-full h-fit flex flex-col justify-center items-center overflow-hidden">
    <section class="relative h-screen min-h-[900px] mt-20 lg:mt-0 xl:mt-0 2xl:mt-0 responsive-column w-full" >
        <div class="flex flex-col w-full justify-center items-start px-10">
            <span class="text-bright-green text-5xl font-[700]">
                Hãy đến cửa hàng <br/>chăm sóc thú cưng <span class="text-bright-yellow">ZPet</span>
            </span>
            <span class="text-[1.4rem] py-5">Chăm sóc ân cần, đảm bảo thú cưng của bạn khỏe mạnh.</span>
            <button class="main-btn-register">
                <p class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full text-white">Đặt lịch ngay</p>
                <img src="/images/icons/bone.svg" draggable="false" class="w-44" alt="register button"/>
            </button>
        </div>
        <div class="row-start-1 lg:row-start-auto xl:row-start-auto 2xl:row-start-auto bg-soft-blue flex justify-center items-center">
            <img src="/images/illustration/smile-cat.png" draggable="false" alt="illustration"/>
        </div>
    </section>
    <section class="relative h-fit min-h-[900px] w-full flex flex-col justify-center items-center">
        <div class="hidden-on-mobile flex flex-row w-full">
            <img src="/images/icons/vector1.png" class="w-full h-fit" draggable="false">
        </div>
        <div class="flex flex-row w-full h-fit responsive-column bg-bright-green">
            <div class="flex justify-center items-center w-full h-full">
                <img src="/images/illustration/doctor-dog.png" class="h-[600px] w-full lg:w-auto xl:w-auto 2xl:w-auto object-cover lg:h-96 xl:h-96 2xl:h-96 lg:rounded-lg xl:rounded-lg 2xl:rounded-lg"/>
            </div>
            <div class="w-full flex flex-col justify-center items-start">
                    <span class="text-white text-4xl font-[700] my-5 mx-10">
                        Sứ mệnh của chúng tôi
                    </span>
                <span class="text-white text-xl mx-10 mb-5 leading-[1.56]">
                        Tại ZPet Care Center, hành trình của chúng tôi bắt đầu với một mục tiêu đơn giản: cung cấp dịch vụ chăm sóc tốt nhất có thể cho thú cưng.<br/>
                        <span class="hidden-on-mobile">Được thành lập bởi một nhóm bác sĩ thú y đầy nhiệt huyết và tận tâm, phòng khám của chúng tôi nổi bật nhờ cung cấp các dịch vụ chất lượng cao và dịch vụ chăm sóc nhân bản, luôn tập trung vào sức khỏe của thú cưng và sự yên tĩnh của chủ nhân.<br/></span>
                        <span class="hidden-on-mobile">Sứ mệnh của chúng tôi là tăng cường sức khỏe và hạnh phúc cho những người bạn bốn chân của bạn, củng cố mối liên kết giữa bạn và thú cưng của mình.<br/></span>
                        <span class="hidden-on-mobile">Hãy đến gặp chúng tôi và khám phá lý do tại sao ZPet là lựa chọn phù hợp để chăm sóc thú cưng của bạn.</span>
                    </span>
                <button class="show-on-mobile mx-10 mb-5 text-grey-white font-[700] border-b-[3px] hover:text-bright-yellow hover:border-bright-yellow transition-all duration-700 delay-300 ease-out">READ MORE</button>
            </div>
        </div>
        <div class="hidden-on-mobile flex flex-row w-full">
            <img src="/images/icons/vector2.png" class="w-full" draggable="false">
        </div>

    </section>
    <section class="relative h-fit w-full px-2 lg:px-24 xl:px-24 2xl:px-24">
        <div class="w-full h-[20rem] grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-3">
            <div class="flex flex-col justify-center items-start w-full h-full mx-10">
                    <span class="text-bright-green text-4xl font-[700] my-5">
                        Tại sao chọn ZPet?
                    </span>
                <span class="text-2xl hidden-on-mobile">
                        Tại phòng khám thú y ZPet, chúng tôi tự hào mang đến sự chăm sóc và tình cảm tốt nhất cho những người bạn bốn chân của bạn.
                    </span>
            </div>
            <div class="w-full flex flex-col col-span-2 justify-center items-center">
                <div class="grid grid-cols-2 grid-rows-2 gap-2">
                    <div class="flex flex-row bg-soft-peach flex justify-between items-center rounded-lg w-42">
                        <div class="m-3 bg-white rounded-lg w-12 h-12 flex justify-center items-center">
                            <img class="w-9" src="/images/icons/dog.png" draggable="false" alt="illustration"/>
                        </div>
                        <span class="mx-3 ">
                                    Dịch vụ cá nhân hóa
                                </span>
                    </div>
                    <div class="flex flex-row bg-bright-green flex justify-between items-center rounded-lg w-42">
                        <div class="m-3 bg-white rounded-lg w-12 h-12 flex justify-center items-center">
                            <img class="w-9" src="/images/icons/veterinarian.png" draggable="false" alt="illustration"/>
                        </div>
                        <span class="mx-3 text-white">
                                    Đội ngũ đủ điều kiện
                                </span>
                    </div>
                    <div class="flex flex-row bg-bright-green flex justify-between items-center rounded-lg w-42">
                        <div class="m-3 bg-white rounded-lg w-12 h-12 flex justify-center items-center">
                            <img class="w-9" src="/images/icons/veterinary.png" draggable="false" alt="illustration"/>
                        </div>
                        <span class="mx-3 text-white">
                                    Tình yêu với thú cưng
                                </span>
                    </div>
                    <div class="flex flex-row bg-soft-peach flex justify-between items-center rounded-lg w-42">
                        <div class="m-3 bg-white rounded-lg w-12 h-12 flex justify-center items-center">
                            <img class="w-9" src="/images/icons/house.png" draggable="false" alt="illustration"/>
                        </div>
                        <span class="mx-3">
                                    Trang thiết bị hiện đại
                                </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="relative h-fit w-full flex flex-col justify-center items-center">
        <div class="title-bar">
            <span class="my-12 lg:my-0 xl:my-0 2xl:my-0 mx-12 lg:mx-0 xl:mx-0 2xl:mx-0 text-bright-green text-4xl font-[700]">Dịch vụ của chúng tôi</span>
            <span class="hidden-on-mobile text-2xl">Chăm sóc từng chi tiết cho sức khỏe thú cưng của bạn</span>
        </div>
        <div class="swipe-area-card-container">
            <div class="card-container">
                <div class="card bg-bright-green">
                    <img src="/images/illustration/doctor-cat.png" class="w-64 rounded-lg mt-4 object-cover" draggable="false" alt="illustration"/>
                    <div class="relative flex flex-col justify-center items-center group">
                        <span class="text-white text-3xl font-[600] my-4">
                            Tư vấn thú y
                        </span>
                        <span class="text-white text-center mx-5 mb-4">
                        Chăm sóc toàn diện cho sức khỏe thú cưng của bạn.
                        </span>
                        <div class="hidden group-hover:flex justify-center items-center rounded-lg transition-opacity absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-bright-green w-full h-full">
                            <button class="main-btn-register">
                                <p class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full text-white">Đặt lịch ngay</p>
                                <img src="/images/icons/bone.svg" class="w-44" draggable="false" alt="illustration"/>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card bg-soft-peach">
                    <img src="/images/illustration/doctor-cat1.png" class="w-64 h-44 rounded-lg mt-4 object-cover" draggable="false" alt="illustration"/>
                    <div class="relative flex flex-col justify-center items-center group">
                        <span class="text-bright-green text-3xl font-[600] my-4">
                            Kiểm tra sức khoẻ
                        </span>
                        <span class="text-center mx-5 mb-4">
                            Chẩn đoán nhanh chóng và chính xác để điều trị.
                        </span>
                        <div class="hidden group-hover:flex justify-center items-center rounded-lg transition-opacity absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-soft-peach w-full h-full">
                            <button class="main-btn-register">
                                <p class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full text-white">Đặt lịch ngay</p>
                                <img src="/images/icons/bone.svg" class="w-44" draggable="false" alt="illustration"/>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card bg-bright-green">
                    <img src="/images/illustration/doctor-cat2.png" class="w-64 h-44 rounded-lg mt-4 object-cover"/>
                    <div class="relative flex flex-col justify-center items-center group">
                        <span class="text-white text-3xl font-[600] my-4">
                            Tiêm chủng
                        </span>
                        <span class="text-white text-center mx-5 mb-4">
                        Bảo vệ thú cưng với chương trình tiêm chủng của chúng tôi.
                        </span>
                        <div class="hidden group-hover:flex justify-center items-center rounded-lg transition-opacity absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-bright-green w-full h-full">
                            <button class="main-btn-register">
                                <p class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full text-white">Đặt lịch ngay</p>
                                <img src="/images/icons/bone.svg" class="w-44" draggable="false" alt="illustration"/>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card bg-soft-peach">
                    <img src="/images/illustration/petshop.jpg" class="w-64 h-44 rounded-lg mt-4 object-cover" draggable="false" alt="illustration"/>
                    <div class="relative flex flex-col justify-center items-center group">
                        <span class="text-bright-green text-3xl font-[600] my-4">
                            Cửa hàng thú cưng
                        </span>
                        <span class="text-center mx-5 mb-4">
                            Sản phẩm mang lại sức khỏe và hạnh phúc cho thú cưng của bạn.
                        </span>
                        <div class="hidden group-hover:flex justify-center items-center rounded-lg transition-opacity absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-soft-peach w-full h-full">
                            <button class="main-btn-register">
                                <p class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full text-white">Đặt ngay</p>
                                <img src="/images/icons/bone.svg" class="w-44" draggable="false" alt="illustration"/>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card bg-bright-green">
                    <img src="/images/illustration/doctor-dog1.png" class="w-64 h-44 rounded-lg mt-4 object-cover"/>

                    <div class="relative flex flex-col justify-center items-center group">
                        <span class="text-white text-3xl font-[600] my-4">
                            Phẫu thuật
                        </span>
                        <span class="text-white text-center mx-5 mb-4">
                        Thủ tục an toàn với sự chăm sóc đặc biệt của đội ngũ chúng tôi.
                        </span>
                        <div class="hidden group-hover:flex justify-center items-center rounded-lg transition-opacity absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-bright-green w-full h-full">
                            <button class="main-btn-register">
                                <p class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full text-white">Đặt lịch ngay</p>
                                <img src="/images/icons/bone.svg" class="w-44" draggable="false" alt="illustration"/>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card bg-soft-peach">
                    <img src="/images/illustration/doctor-dog2.png" class="w-64 h-44 rounded-lg mt-4 object-cover" draggable="false" alt="illustration"/>
                    <div class="relative flex flex-col justify-center items-center group">
                        <span class="text-bright-green text-3xl font-[600] my-4">
                            Dịch vụ khẩn cấp
                        </span>
                        <span class="text-center mx-5 mb-4">
                             Dịch vụ khẩn cấp bất cứ lúc nào 24/7 kể cả ngày nghỉ.
                        </span>
                        <div class="hidden group-hover:flex justify-center items-center rounded-lg transition-opacity absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-soft-peach w-full h-full">
                            <button class="main-btn-register">
                                <p class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full text-white">Đặt lịch ngay</p>
                                <img src="/images/icons/bone.svg" class="w-44" draggable="false" alt="illustration"/>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button class="btn-card-section">Xem tất cả dịch vụ</button>
        </div>
    </section>
    <section class="relative h-screen min-h-[900px] w-full flex flex-col justify-center items-center">
        <div class="title-bar">
            <span class="my-12 lg:my-0 xl:my-0 2xl:my-0 mx-12 lg:mx-0 xl:mx-0 2xl:mx-0 text-bright-green text-4xl font-[700]">Đội ngũ của chúng tôi</span>
            <span class="hidden-on-mobile text-2xl">Gặp gỡ các chuyên gia chăm sóc thú cưng của bạn</span>
        </div>
        <div class="swipe-area-doctor-card-container">
            <div class="doctor-card-container">
                <div class="doctor-card">
                    <img src="/images/illustration/PhanVanTai.jpg" class="w-60 h-72 object-cover rounded-lg" draggable="false">
                    <div class="relative flex flex-col justify-center items-center group">
                        <span class="text-bright-green text-3xl font-[600] my-4">
                           Bác sĩ Phan Văn Tài
                        </span>
                        <span class="text-center mx-5 mb-4">
                        Bác sĩ phẫu thuật thú y
                        </span>
                    </div>
                </div>
                <div class="doctor-card">
                    <img src="/images/illustration/NguyenThiLan.jpeg" class="w-64 h-72 sm:h-72 md:h-72 lg:h-96 xl:h-96 2xl:h-96 object-cover rounded-lg" draggable="false">
                    <div class="relative flex flex-col justify-center items-center group">
                        <span class="text-bright-green text-3xl font-[600] my-4">
                           Bác sĩ Nguyễn Thị Lan
                        </span>
                        <span class="text-center mx-5 mb-4">
                            Bác sĩ thần kinh thú y
                        </span>
                    </div>
                </div>
                <div class="doctor-card">
                    <img src="/images/illustration/TranVanNghia.jpg" class="w-60 h-72 object-cover rounded-lg" draggable="false">
                    <div class="relative flex flex-col justify-center items-center group">
                        <span class="text-bright-green text-3xl font-[600] my-4">
                           Bác sĩ Trần Văn Hai
                        </span>
                        <span class="text-center mx-5 mb-4">
                            Bác sĩ tim mạch thú y
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<div class="hidden-on-mobile flex flex-row w-full">
    <img src="/images/icons/vector1.png" class="w-full h-fit" draggable="false">
</div>
<footer class="h-fit min-h-[900px] lg:min-h-[700px] xl:min-h-[700px] 2xl:min-h-[700px] w-screen bg-bright-green">
    <section class="relative grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 2xl:grid-cols-2  w-full">
        <div class="flex justify-center items-center">
            <img src="/images/illustration/dog1.png" draggable="false" alt="illustration" class="w-[26rem] drop-shadow-2xl"/>
        </div>
        <div class="flex flex-col w-full justify-center items-start px-10">
            <span class="text-grey-white text-5xl font-[700]">
                Đặt lịch tư vấn ngay hôm nay
            </span>
            <span class="text-grey-white text-[1.4rem] py-5">Đừng chờ đợi để đảm bảo sức khỏe và hạnh phúc cho người bạn bốn chân của bạn. Lên lịch cuộc hẹn ngay bây giờ và xem sự khác biệt mà dịch vụ của chúng tôi có thể mang lại.</span>
            <button class="main-btn-register">
                <p class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full text-white">Đặt lịch ngay</p>
                <img src="/images/icons/bone.svg" draggable="false" class="w-44" alt="register button"/>
            </button>
        </div>
    </section>
    <section class="relative hidden lg:grid xl:grid 2xl:grid grid-cols-3 w-full px-24">
        <div class="flex justify-center items-center">
            <div id="ticket-container">
                <img src="/images/illustration/ticket.svg" class="">
                <img src="/images/brand/logo.png" class="absolute top-5 left-5 w-20">
                <div class="absolute top-5 right-5 flex flex-row justify-center items-center gap-2">
                    <button class="social-btn"><img src="/images/icons/zalo.png" alt="social" class="w-4"/></button>
                    <button class="social-btn"><img src="/images/icons/facebook.png" alt="social" class="w-4"/></button>
                    <button class="social-btn"><img src="/images/icons/shopee.png" alt="social" class="w-4"/></button>
                </div>
                <div class="absolute bottom-8 left-1/2 transform -translate-x-1/2 w-full flex flex-row justify-center items-center gap-2">@2024 Design and make by Zink</div>
            </div>
        </div>
        <div class="grid grid-cols-4">
            <div></div>
            <div class="col-span-2">
                <span class="text-grey-white text-[1.4rem] pb-5">Liên kết</span>
                <ul class="w-full flex flex-col justify-center items-start gap-2">
                    <li><a class="text-grey-white" href="/">Trang chủ</a></li>
                    <li><a class="text-grey-white" href="/">Dịch vụ</a></li>
                    <li><a class="text-grey-white" href="/">Đội ngũ của chúng tôi</a></li>
                    <li><a class="text-grey-white" href="/">Cửa hàng thú cưng</a></li>
                    <li><a class="text-grey-white" href="/">Chính sách bảo mật</a></li>
                </ul>
            </div>
            <div></div>
        </div>
        <div class="flex flex-col w-full justify-center items-start px-10">
            <div class="grid grid-cols-6">
                <div></div>
                <div class="col-span-4">
                    <span class="text-grey-white text-[1.4rem] pb-5">Liên hệ</span>
                    <ul class="w-full flex flex-col justify-center items-start gap-2">
                        <li><a class="text-grey-white flex flex-row gap-3" href="/"><img src="/images/icons/phone.svg" alt="icon" class="w-5"/>Số điện thoại: 0000</a></li>
                        <li><a class="text-grey-white flex flex-row gap-3" href="/"><img src="/images/icons/zalo.png" alt="icon" class="w-5 object-contain"/>Zalo: </a></li>
                        <li><a class="text-grey-white flex flex-row gap-3" href="/"><img src="/images/icons/mail.svg" alt="icon" class="w-5"/>Email:</a></li>
                        <li><a class="text-grey-white flex flex-row gap-3" href="/"><img src="/images/icons/pin.svg" alt="icon" class="w-5"/>Địa chỉ: </a></li>
                        <li><a class="text-grey-white flex flex-row gap-3" href="/"><img src="/images/icons/clock.svg" alt="icon" class="w-5"/>Giờ hoạt động:  </a></li>
                    </ul>
                </div>
                <div></div>
            </div>
        </div>
    </section>
</footer>
</body>
<script src="/js/index.js" type="module" ></script>

</html>