<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zpet Login</title>
    <!-- Style -->
    <link rel="stylesheet" href="../css/style.css" />
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- JQuery -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="w-full h-screen">
      <div class="w-full h-full relative">
        <img
          src="../images/illustration/hero.jpg"
          class="object-cover w-full h-full"
          alt=""
        />
        <div
          class="absolute top-[calc(50%-100px)] md:left-32 h-fit w-full md:w-[30rem] p-12 rounded-md flex flex-col space-y-4 justify-center backdrop-blur-lg bg-white/70"
        >
          <img
            src="/images/brand/logo.png"
            class=" w-24"
          />
          <div class="flex space-x-4">
            <input
              type="phone"
              id="phone"
              name="phone"
              placeholder="Số điện thoại"
              class="w-full h-12 px-4 py-2 rounded-md bg-white backdrop-blur-sm ring-1 ring-gray-300 focus:ring-green-500 outline-none disabled:text-gray-500 disabled:cursor-not-allowed"
            />
          </div>
          <div id="addition-input" class="flex flex-col space-y-4">
          </div>
          <div id="login-button-place" class="flex justify-center">
            
          </div>
        </div>
      </div>
    </div>
  </body>

  <script type="module" src="/js/client/Login/index.js"></script>
</html>
