<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zpet Login</title>
    <!-- Style -->
    <link rel="stylesheet" href="../css/style.css" />
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- JQuery -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              secondary: "#1c2d28",
              "bright-yellow": "#FBB030",
              "bright-green": "#00944e",
              "bright-red": "#cb472e",
              "bright-blue": "#60a1c3",
              "grey-white": "#f9f9f9",
              "soft-peach": "#eddbcc",
              "soft-blue": "#F0F8FF",
            },
          },
        },
      };
    </script>
    <style type="text/tailwindcss"></style>
  </head>
  <body>
    <div class="h-screen w-full">
      <div class="w-full h-full relative">
        <img
          src="/images/illustration/hero.jpg"
          class="object-left-top w-full h-full"
          alt=""
        />
      </div>
      <div class="absolute top-20 left-32 w-full">
        <img draggable="false" src="/images/icons/footprint.svg" class="w-32" />
      </div>

      <div
        class="absolute top-1/2 left-0 transform -translate-y-1/2 w-96 h-2/3 bg-white/50 backdrop-blur-md z-20 rounded-2xl"
      ></div>
    </div>
  </body>
  <script src="/js/apiUrl.js"></script>
  <script src="/js/client/Login/Login.js"></script>
</html>
