<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logout</title>
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="overflow-hidden">
    <div
      class="w-screen h-screen flex flex-col justify-center items-center space-y-12"
    >
      <img class="lg:w-1/4 w-3/4 animate-bounce" src="/images/illustration/cute-dog.svg" alt="" />

      <div
        class="px-10 py-3 text-4xl font-bold leading-none text-center text-green-800 bg-green-200 rounded-full animate-pulse"
      >
        Logout...
      </div>
    </div>
  </body>
  <script type="module">
    import { logout } from "/js/client/Login/Logout.js";
    logout();
  </script>
</html>
