<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zpet.ms_appointment.mapper.AppointmentMapper">

    <select id="lastId" resultType="java.lang.Integer">
        SELECT MAX(APM_ID) FROM appointment
    </select>

    <select id="getAll" parameterType="map" resultType="com.zpet.ms_appointment.model.Appointment">
        SELECT 
            a.APM_ID as id
            , a.APM_DATE as date
            , a.APM_TIME as time
            , a.APM_NOTE as note
            , a.CTM_ID as customerId
            , (SELECT 
                s.STT_NAME 
                FROM `status` s
                JOIN apm_stt astt ON s.STT_ID = astt.STT_ID
                WHERE astt.APM_ID = a.APM_ID
                <if test="filterStatus != null">
                    AND astt.STT_ID IN <foreach collection="filterStatus" separator="," open="(" close=")" item="stt">#{stt}</foreach>
                </if>
                ORDER BY astt.ATTIME DESC
                LIMIT 1
            ) AS status
        FROM appointment a
        WHERE (SELECT 
            s.STT_NAME 
            FROM `status` s
            JOIN apm_stt astt ON s.STT_ID = astt.STT_ID
            WHERE astt.APM_ID = a.APM_ID
                <if test="filterStatus != null">
                    AND astt.STT_ID IN <foreach collection="filterStatus" separator="," open="(" close=")" item="stt">#{stt}</foreach>
                </if>
            ORDER BY astt.ATTIME DESC
            LIMIT 1
        ) IS NOT NULL
        <if test="customerId != null">
            AND a.CTM_ID = #{customerId}
        </if>
        <if test="id != null">
            AND a.APM_ID = #{id}
        </if>
        <if test="dateFrom != null">
            AND a.APM_DATE BETWEEN #{dateFrom} AND #{dateTo}
        </if>
        <if test="filterStatus != null">
	       AND a.APM_ID NOT IN (
			    SELECT astt.APM_ID
			    FROM `status` s
			    JOIN apm_stt astt ON s.STT_ID = astt.STT_ID
			    JOIN appointment a ON a.APM_ID = astt.APM_ID
			    WHERE astt.APM_ID = a.APM_ID
			    AND astt.STT_ID IN <foreach collection="otherStatus" separator="," open="(" close=")" item="stt">#{stt}</foreach>
			    GROUP BY astt.APM_ID
			) 
        </if>
        ORDER BY a.APM_DATE ASC       
    </select>

    <select id="getCountByDay" parameterType="map">
        SELECT
            DAY(a.APM_DATE) AS day,
            COUNT(a.APM_ID) AS count
        FROM
            appointment a
        WHERE
            MONTH(a.APM_DATE) = #{month}
          AND YEAR(a.APM_DATE) = #{year}
        GROUP BY
            DAY(a.APM_DATE)
        ORDER BY
            DAY(a.APM_DATE);
    </select>
    
    <select id="getAppointmentHistory" parameterType="java.lang.Integer" resultType="com.zpet.ms_appointment.response.AppointmentHistoryResponse">
    	SELECT 
			ast.ATTIME AS attime
			, ast.APM_ID AS apmId
			, ast.APMS_STATUSDESCRIPTION AS description
			, s.STT_NAME AS status
		FROM apm_stt ast JOIN status s ON s.STT_ID = ast.STT_ID
		WHERE ast.APM_ID = #{id}
		ORDER BY ast.ATTIME DESC
    </select>
    
    <select id="getAppointmentServices" parameterType="java.lang.Integer" resultType="java.lang.String">
    	SELECT SRV_ID as serviceId
    	FROM srv_included
    	WHERE APM_ID = #{id}
    </select>

    <select id="getCancelCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT COUNT(ast.APM_ID)
        FROM apm_stt ast
                 JOIN appointment a ON a.APM_ID = ast.APM_ID
        WHERE a.CTM_ID=#{customerId}
          AND ast.STT_ID=3
          AND ast.APMS_STATUSDESCRIPTION NOT LIKE '%Nhân viên%'
          AND ast.APMS_STATUSDESCRIPTION NOT LIKE '%đã cập nhật trạng thái%'
          AND ast.ATTIME BETWEEN DATE_SUB(NOW(), INTERVAL 7 DAY) AND NOW();
    </select>

	<insert id="insertAtTime" parameterType="java.lang.String">
		INSERT INTO timing VALUES (#{attime})
	</insert>

	<insert id="insertAppointment" parameterType="com.zpet.ms_appointment.model.Appointment">
		INSERT INTO appointment VALUES (#{id}, #{date}, #{time}, #{note}, #{customerId})
	</insert>
	
	<insert id="insertServiceAppointment" parameterType="map">
		INSERT INTO srv_included VALUES (#{apmId}, #{srvId})
	</insert>
	
	<insert id="insertApmStatus" parameterType="map">
		INSERT INTO apm_stt VALUES (#{status}, #{atTime}, #{apmId}, #{description})
	</insert>

</mapper>