<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="overflow-hidden">
    <div id="loading-overlay" class="fixed top-0 left-0 w-screen h-screen flex flex-col justify-center items-center bg-black/25 overflow-hidden">
      <div class="p-8 w-full md:w-2/3 lg:w-1/4 flex flex-col justify-center items-center space-y-12 bg-white rounded-lg">
        <img
          class="w-3/4 img animate-bounce "
          src="../static/images/illustration/cute-smiling-cat.svg"
          alt=""
        />

        <div
          class="px-10 py-3 text-4xl font-bold leading-none text-center text-green-800 bg-green-200 rounded-full animate-pulse"
        >
          Đang tải...
        </div>
      </div>
    </div>
  </body>
</html>
